old/
out/
data/
config/

key
region
keys.txt

log-*
*.log
lastCsvData.csv

.venv/
venv/
__pycache__/
*.pyc
*.pyo
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/

.vscode/
.idea/

build/
dist/

rfsuite.csv
UpdateGit.ps1